doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Noom
        main
            div#welcome
                form
                    input(id="nick", placeholder="nickname", type="text")
                    h4 Open Rooms (Please click):
                    ul
                    input(id="room_name", placeholder="room name", required, type="text")
                    button Enter Room
            div#room
                h3(style="margin: 0px 10px;")
                a(style="margin: 0px 10px;") modify
                form#name
                    div(style="display:flex; align-items:center;")
                        input(style="width: 100%; margin: 0px 10px;", placeholder="nickname", type="text", required)
                        button Modify 
                form#msg
                    h3
                    ul(style="border: 1px solid; min-height: 200px; max-height: 200px; overflow:auto;")
                    div(style="display:flex; align-items:center;")
                        input(style="width: 100%; margin: 0px 10px;", placeholder="message", type="text", required)
                        button Send
                
                

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")